<h1>Single Post Page</h1>
<div>
  <div class="user-card left">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    <div class="right">
        <span class="span-post">Comments: <%= @post.comments.count %></span>
        <span class="span-post">Likes: <%= @post.likes.count %></span>
      </div>
      <br>
    <p><%= @post.text %></p>
    <%= form_for [@user, @post, Like.new], url: user_post_likes_path(@user, @post), method: :post do |f| %>
      <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
      <%= f.submit "Like", class: "like-button" %>
    <% end %>
  </div>
  <div class="user-card left">
    <ul>
      <h5>All the Comments:</h5>
      <br>
        <% @post.comments.each do |comment| %>
          <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</div>